@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

@section Styles {
    <style>
        h1 {
            font-size: 36px;
            font-style: normal;
            font-weight: bold;
        }
    </style>
}

<h1>Home</h1>