@{
    Layout = "~/Views/Shared/_LayoutSimples.cshtml";
    ViewData["Title"] = "Login";
}

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Login</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Entre para iniciar a sessão</p>

            <form>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Usuário" name="user">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Senha" name="password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </div>
                </div>
            </form>

            <div class="social-auth-links text-center mb-3">
                <p>- OU -</p>
            </div>
            <!-- /.social-auth-links -->

            <p class="mb-1">
                <a href="">Esqueceu a senha</a>
            </p>
            <p class="mb-0">
                <a href="" class="text-center">Novo membro</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>