@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Insert";
}

@section Styles {
    <link href="~/lib/fancybox-master/dist/jquery.fancybox.min.css" rel="stylesheet" />
    <style>
        .fancybox-slide--iframe .fancybox-content {
            width: 800px;
            height: 600px;
            max-width: 80%;
            max-height: 80%;
            margin: 0;
        }
    </style>
}

@section Scripts
{
    <script src="~/lib/fancybox-master/dist/jquery.fancybox.min.js"></script>
    <script src="~/js/views/Insert/Product.js"></script>
}

<div class="card card-primary">
    <div class="card-header">
        <h3>Cadastrar Produto</h3>
    </div>

    <form>
        <div class="card-body">
            <!--
            <div class="form-group">
                <label>ID</label>
                <input class="form-control" placeholder="Digite o ID aqui" id="id">
            </div>
            -->

            <input type="hidden" id="id" />

            <div class="form-group">
                <label>Nome</label>
                <input class="form-control" placeholder="Digite o Nome aqui" id="name">
            </div>

            <div class="form-group">
                <label>Categorias</label>
                <select class="form-control" id="category">
                    <option>Categoria 1</option>
                    <option>Categoria 2</option>
                    <option>Categoria 3</option>
                    <option>Categoria 4</option>
                    <option>Categoria 5</option>
                </select>
            </div>

            <div class="form-group">
                <label>Preço de Venda</label>
                <input class="form-control" id="sell_price" type="number" min="0" step="0.50" placeholder="0.00">
            </div>

            <div class="form-group">
                <label>Preço de Compra</label>
                <input class="form-control" id="buy_price" type="number" min="0" step="0.50" placeholder="0.00">
            </div>

            <div class="row mt-3 alert alert-danger" id="divError" style="display: none">
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <input type="button" class="site-btn" value="Cadastrar" onclick="product.insert()">
        </div>

        <div class="card-footer">
            <input type="button" class="site-btn" value="Pesquisar" onclick="product.search()">
        </div>
    </form>
</div>